<div class="about" id="about">
    <div class="title" id="titleAbout">
        <a>
            ABOUT
        </a>
    </div>
    <div class="zoneWrapper">
        <div class="objectivesWrapper">
            <div class="objectiveGroup" #objectiveGroup1>
                <div class="objective" #objective1>
                    <div class="iconObjective" #iconObjective1>
                        Icon1
                    </div>
                    <div class="titleObjective" #titleObjective1>
                        Fast
                    </div>
                    <div class="textObjective" #textObjective1>
                        Fast load times and lag free interaction, my highest priority.
                    </div>
                </div>
                <div class="objective" #objective2>
                    <div class="iconObjective" #iconObjective2>
                        Icon2
                    </div>
                    <div class="titleObjective" #titleObjective2>
                        Intuitive
                    </div>
                    <div class="textObjective" #textObjective2>
                        Strong preference for easy to use, intuitive UX/UI.
                    </div>
                </div>
            </div>
            <div class="objectiveGroup" #objectiveGroup2>
                <div class="objective" #objective3>
                    <div class="iconObjective" #iconObjective3>
                        Icon3
                    </div>
                    <div class="titleObjective" #titleObjective3>
                        Responsive
                    </div>
                    <div class="textObjective" #textObjective333>
                        My layouts will work on any device, big or small.
                    </div>
                </div>
                <div class="objective" #objective4>
                    <div class="iconObjective" #iconObjective4>
                        Icon4
                    </div>
                    <div class="titleObjective" #titleObjective4>
                        Dynamic
                    </div>
                    <div class="textObjective" #textObjective4>
                        Websites don't have to be static, I love making pages come to life.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>