<div class="home" id="home">
    <div class="elements">
        <div class="text">
 
<pre class="typewriter" id="typewriter" #typewriter>
<span class="objHighlight">human</span> : &#123;
    type: <span class="highlight">"Full stack web developer"</span>,
    name : <span class="highlight">"Yael"</span>,
    location : <span class="highlight">"Lyon, FR"</span>, 
    properties : [
        <span class="highlight">"JavaScript"</span>,
        <span class="highlight">"Php"</span>,
        <span class="highlight">"Html"</span>,
        <span class="highlight">"Css"</span>,
        <span class="highlight">"Sql"</span>,
        <span class="highlight">"Serveless Db"</span>,
        <span class="highlight">"Angular 2+"</span>
    ],
    function :<span class="highlight">iMakeYourDreamsComeTrue();</span>
&#125; </pre>
        </div>
        
            <!-- <div class="btnWrapper">
                <div class="whoIAmBtn" id="whoIAmBtn" (click)="slideTo('titleProject')">
                    Want to know more
                    <div class="blink"> 
                       &nbsp; ? 
                    </div> 
                </div>
                <img class="=scrollIcon" src="./../../assets/scroll.svg">
            </div> -->


        <div class="wrapper">
            <div class="wantMore" (click)="slideTo('titleProject')">
                Want to know more 
                <div>
                    &nbsp; ?
                </div>
            </div>
            <div>
                <img class="=scrollIcon" src="./../../assets/scroll.svg">
            </div> 
        </div>

    </div>
</div>
<app-nav></app-nav>